<form  [formGroup]="itemForm">

    <ion-item [ngClass]="{'required': checkField(itemForm.get('title')) }">
        <ion-label>Title *</ion-label>
        <ion-input required type="text" placeholder="Title" formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Description</ion-label>
        <ion-input type="text" placeholder="Description" formControlName="description"></ion-input>
    </ion-item>

    <p class="alert alert-warning" role="alert"  *ngIf="isProcessing">
        <ion-spinner></ion-spinner>
        Please wait..
    </p>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button *ngIf="!isProcessing" expand="block" (click)="onSubmit($event)" [disabled]="!itemForm.valid && !isProcessing">{{getButtonText()}}</ion-button>
            </ion-col>
            <ion-col *ngIf="item">
                <ion-button *ngIf="!isProcessing" expand="block" color="danger" (click)="delete()">Delete item</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</form>